.NaziCard {
    display: flex;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.NaziStats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.NaziImg{
    height: 100%;
}

.NaziBtn {
    display: flex;
    width: 50px;
    align-self:center;
}