
*{
    /* background-color: var(--main-color); */
}
audio{
    
    padding-bottom: 80px;
   
    
}
.bande-son{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
p{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    
}
.mdp{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 30px;
    margin-left: 300px;
    font-family: var(--six-font-familly);
    
    
}
input{
    background-color:var(--second-color);
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 100px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    
}
.submit{
    display: flex;
    justify-content: center;
    background-color:var(--first-color);
}

li{
    
    font-family: var(--six-font-familly);
}
.connection{
    display: flex;
    
    background-color: rgb(199, 211, 140);
    height:20vh;
    width: 20vw;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    
}

/* * {
    background-image: url(../Image/obeir.jpg);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
} */

.secretpage{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    display: flex;
    align-self: center;
}

