
*{
    /* background-color: var(--main-color); */
}
.form{
    display: flex;
    justify-content: center;
}

.mdp{
    /* background-color: darkblue; */

}
.submit{
    display: flex;
    background-color: chartreuse;
}
.checklist{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgb(184, 11, 77);
}
ul{
    /* background-color: rgb(230, 236, 219); */
}
.connection{
    background-color: deeppink;
    height: 70px;
    width: 100px;
    border-radius: 15px;
    margin-top: 23px;
    margin-left: 130px;
    box-shadow: 15px;
    box-decoration-break: clone;
}

/* * {
    background-image: url(../Image/obeir.jpg);
    background-repeat: no-repeat;
    height: auto;
    width: auto;
} */

.secretpage{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    display: flex;
    align-self: center;
}

ul{
    margin-left: 500px;
}

