  .overlay_quote{
    width: 35vh;
    position: absolute;
    top:61%;
    transform: translateY(-50);
    padding: 1rem 1.1rem;
    text-align: left;
    background: rgba(0, 0, 0.6);
    color: #FFFF;
    font-size:60%;
}

.overlay_name {
    margin-top: auto;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6%;
}

.carousel .thumbs {
    display: flex;
    justify-content: center;
}

.carousel .thumb {
    margin: 1px;
    cursor: pointer;
}

.carousel .overlay_name {
  margin: 0.8em 0 5rem ;

}
.picture {
    max-width: 35vh;
    margin: 3%;
}

.photo {
    width: 186.5vh;
    height: 60vh;
}

.Title {
    margin-top: 1%;
    font-size: 160%;
}

@media screen and (max-width:600px) {
 .carousel .slide img {
     width : 100vw !important;
     height : 40vh;
     object-fit: cover;
 }
}